<mtapp:setting
  id='aws_accesskey'
  label='<__trans phrase='AWS AccessKey'>'
  >
    <input type="text" name="aws_accesskey" name="aws_accesskey" value="<mt:var name="aws_accesskey" escape="html">" />
</mtapp:setting>
<mtapp:setting
  id='aws_secretkey'
  label='<__trans phrase='AWS SecretKey'>'
  >
    <input type="text" name="aws_secretkey" name="aws_secretkey" value="<mt:var name="aws_secretkey" escape="html">" />
</mtapp:setting>
